body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: white;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('1.jpg') no-repeat center center/cover;
    z-index: -1;
}

.container {
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.coin-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.coin {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.coin img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.coin span {
    font-size: 1.2em;
}

.coin:hover {
    transform: scale(1.1);
}

.start-button {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.2em;
    background-color: #0056b3;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #ff1c1c;
}